<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img src="/assets/images/burger2.jpg" alt="burger" class="img-responsive center-block" style="height: 300px;"/></td>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3 style="margin-left: 50px">Available Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#unless devoured}}
						<li>
							<h5>{{id}}. {{burger_name}}
								<!-- <form action='/burgers/update/{{this.id}}' method='PUT'> -->
								<form>
									<input type='hidden' name='devoured' value='true'>
									<!-- <button type='submit' class="btn btn-default">Devour it</button> -->
									<button class="btn btn-default devour" data-id="{{id}}" id = "devour" data-newdevour=true>Devour it</button>
								</form>
							</h5>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-5">
			<h3 class="text-muted" style="margin-left: 100px;">Devoured Burgers</h3>
			<ul>
				{{#each burgers}}
					{{#if devoured}}
						<li>
							<h5 class="text-muted">{{id}}. {{burger_name}}</h5>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>

	</div>

	<br><br>

	<div class="row">
		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/create" method="POST">
				<div class="form-group">
					<textarea type="text" name="name"></textarea><br>
					<button class="btn btn-default" type="submit">Submit</button>
					<h5 class="text-center">Enter a burger you want to eat then click Submit button.</h5>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$("#devour").click(function(event){
		console.log("I'm clicked")
        var id = $(this).data("id");
		var newDevour = $(this).data("newdevour");

		var newDevourState = {
			devoured: newDevour,
		}; 

        $.ajax("/burgers/update/" + id, {
			type: "PUT",
			data: newDevourState,
        }).then(function () {
            location.reload();
        });
	});
	
    </script>